.add-item {
  padding-top: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid #f2f2f2;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    background: #ffffff url(../img/icon-plus-mobile.svg) no-repeat center;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      background-image: url(../img/icon-plus.svg);
      top: 50px;
    }
  }
}

.add-item__text {
  color: $blackone;
  text-transform: $uppercase;
  font-size: 16px;
  line-height: 20px;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    max-width: 134px;
    padding-top: 130px;
    margin: 0;
    font-size: 20px;
    line-height: 22px;
  }
}

.add-item__description {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Times New Roman", sans-serif;

  @media (min-width: $tablet-width) {
    max-width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 85px;
  }
}

.add-item__button {
  background-color: $grey;
  text-transform: uppercase;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  width: 280px;
  color: inherit;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    width: 249px;
  }

  @media (min-width: $tablet-width) {
    width: 169px;
  }
}

