.additional-goods {
  @include wrapper;

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  font-weight: 400;
  position: relative;
  display: inline-block;
  background-color: $white;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;
  margin-bottom: 35px;
  margin-top: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    background: $basicgreen;
    z-index: -1;
    right: 0;

  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: $basicgreen;
    z-index: -1;
    left: 20px;

  }

  @media (min-width:$tablet-width) {
    @include title;
    margin-left: 5px;
  }

  @media (min-width:$desktop-width) {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__item {
    display: flex;
    justify-content: space-between;
    width: 896px;
  }
}

.additional-goods__list {
  @include list;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.additional-goods__item {
  position: relative;
  padding-bottom: 15px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.additional-goods__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: $uppercase;
  color: $blacktwo;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 161px;
  }
}

.additional-goods__item-volume {
  line-height: 20px;
  text-align: left;
  font-family: "Arial", "Times New Roman", sans-serif;

  @media (min-width: $tablet-width) {
    margin-left: 244px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    min-width: 132px;
    text-align: left;
  }
}

.additional-goods__item-price {
  text-transform: $uppercase;
  text-align: right;
  font-family: "Arial", "Times New Roman", sans-serif;

  @media (min-width:$tablet-width) {
    padding-right: 37px;
  }

  @media (min-width:$desktop-width) {
    padding-right: 0;
  }
}

.additional-goods__button {
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin-left: 37px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    margin-top: 15px;
  }
}

.additional-goods__action {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basicgreen;
  background-size: cover;
  position: relative;
  min-height: 289px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    height: 289px;
    width: 245px;
  }
}

.additional-goods__action svg {
  fill: $white;
  position: absolute;
  top: 58px;
  left: 110px;

  @media (min-width: $tablet-width) {
    left: 78px;
    bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    left: 93px;
  }
}

.additional-goods__gift {
  color: $white;
  line-height: 20px;
  margin-top: 39px;
  text-align: center;
  font-family: "Arial", "Times New Roman", sans-serif;
  font-size: 16px;
  position: relative;
  top: 186px;

  @media (min-width: $tablet-width) {
    top: 71px;
    left: 423px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 161px;
    left: 0;
    text-align: center;
  }
}
