.form {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.form__title {
  @include title;
  color: $black;
  text-transform: none;
  font-weight: 400;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__description {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    max-width: 323px;
    padding-left: 71px;
  }

  @media (min-width: $tablet-width) {
    max-width: 323px;
    padding-left: 0;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    width: 630px;
    margin-left: 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}

.form__list-source,
.form__list-target,
.form__list-contact,
.form_additional-list {
  @include list;
}


.form__list-contact,
.form__additional-list {
  @include wrapper;
}

.form__list-source {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
  }
}

.form__item-source {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.form__item-source input[type="text"] {
  width: 100%;
  margin-left: 14px;
  border: 1px solid $greylightfour;
  padding: 13px 15px;

  &:hover {
    border: 1px solid $greylighttwo;
  }

  &:active {
    border: 1px solid $greydark;
  }

  &:focus {
    border: 1px solid $greydark;
  }
}

.form__item-source label {
  flex-shrink: 0;
}

.form__list-target {
  border-top: 1px solid $greylightone;
  border-bottom: 1px solid $greylightone;
  padding-bottom: 22px;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    border: 1px solid $greylightfour;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__item-target {
  position: relative;
  margin-left: 65px;
}

.form__item-target:not(:first-child) {
  margin-top: 20px;
}

.form__additional-title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $black;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 20px;
  margin-bottom: 35px;
  margin-top: 26px;
  background: $white;
  margin-right: 77px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: $basicgreen;
    z-index: -1;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: $basicgreen;
    z-index: -1;
    left: 20px;
  }

  &--contact::after,
  &--contact::before {
    top: 30%;
  }

  @media (min-width: $tablet-width) {
    padding-left: 71px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__list-contact {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }
}

.form__item-contact:first-child {
  margin-bottom: 14px;
  margin-right: 78px;
}

.form__item-contact {
  display: flex;
  align-items: center;
  position: relative;
  width: 46%;
}

.form__icon-contact {
  position: absolute;
  content: "";
  right: 15px;
}

.form__text-contact {
  flex-shrink: 0;
}

.form__input-contact {
  width: 100%;
  padding: 13px 15px;
  margin-left: 12px;
  border: 1px solid $greylighttwo;

  &:hover {
    border: 1px solid $greylighttwo;
  }

  &:active {
    border: 1px solid $greydark;
  }

  &:focus {
    border: 1px solid $greydark;
  }
}

@media (min-width: $tablet-width) {
  .form_additional-title {
    @include title;
    text-transform: none;
    color: $black;
  }
}

.form__input-radio:checked + label::before {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
  background: $basicgreen;
  margin-top: 0;
  content: "";
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.form__input-radio + label::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid $greylighttwo;
  box-sizing: border-box;
}

.form__input-radio:active + label {
  color: $greylightfive;
}

.form__additional-textarea {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid $greylightfour;
  height: 151px;
  box-sizing: border-box;
}

.form__additional-wrapper {
  @include wrapper;

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.form__additional-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 57px;
  }
}

.form__additional-item {
  padding-left: 44px;
  padding-bottom: 20px;
  position: relative;
  display: block;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.form__additional-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid $greylighttwo;
}

.form__additional-input:checked + label::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 7px;
  margin-top: -3px;
  width: 8px;
  height: 14px;
  border-right: 1px solid $basicgreen;
  border-bottom: 1px solid $basicgreen;
  transform: translateY(-50%) rotate(45deg);
}


.form-button {
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-left: 0;
    margin-bottom: 82px;
    margin-top: 60px;
  }
}

.form__text-required {
  text-align: center;
  line-height: 16px;
  font-family: "Arial", "Times New Roman", sans-serif;
  text-transform: none;
  color: $black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-left: 61px;
  }
}
