@media (min-width: $tablet-width) {
    .main-nav__list {
        display: flex;
        flex-wrap: wrap;
        @include list;
        font-size: 18px;
        text-transform: $uppercase;
    }
    .site-list__link {
        color: $black;
        @include link;
    }
}    