.page-header {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    width: 1330px;
  }

  &--index {
    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/index-background-mobile@1x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      left: 0;
      min-height: 306px;
      width: 100%;


      @media (min-resolution: 2dppx) {
        background-image: url(../img/index-background-mobile@2x.jpg);
      }

      @media (min-width: $tablet-width) {
        background-image: none;

      }

      @media (min-width: $desktop-width) {
        background-image: url(../img/index-background-desktop@1x.jpg);
        width: 50%;
        min-height: 696px;
        top: 0;
        left: 50%;

        @media (min-resolution: 2dppx) {
          background-image: url(../img/index-background-desktop@2x.jpg);
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    @include wrapper;
    background-color: $white;
    background-image: url(/img/index-can-desktop@1x.png),
      url(/img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center 0, right -140px;
    background-size: 709px 609px;
    min-height: 696px;
  }
}
