.programs {
  @include wrapper;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    width: 1220px;
    margin: 0 auto;
  }
}

.programs__block {
  background-color: $grey;
  position: relative;
  padding-left: 20px;

  &:last-child {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-left: 0;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include title;
    padding-top: 77px;
    text-align: left;
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    text-align: center;
    padding-left: 53px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basicgreen;
    position: absolute;
    left: 20px;
    top: 30px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: 446px;
      top: 92px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    width: 36px;
    height: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 29px;
    top: 27px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      left: 476px;
      top: 81px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: 67px;
      top: 41px;
    }
  }

  &--weight {
    &::after {
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      width: 67px;
      height: 50px;
      top: 42px;
      left: 10px;

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 200px;
        left: 412px;
        top: 135px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 100px;
        left: 33px;
        top: 67px;
      }
    }
  }
}

.programs__description {
  padding-top: 29px;
  margin: 0;
  font-family: "Arial", "Times New Roman", sans-serif;
  width: 227px;

  &::after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: $greylightone;
    bottom: 57px;
    left: 20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 52px;
    width: 337px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    width: 467px;
  }
}

.programs__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.programs__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  padding-top: 38px;
  padding-bottom: 18px;
  position: relative;

  @include link;
  text-transform: uppercase;
  z-index: 1;

  &::after {
    content: "";
    width: 28px;
    height: 10px;
    position: absolute;
    bottom: 20px;
    left: 103px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      bottom: 62px;
      left: 185px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 48px;
    padding-left: 52px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 55px;
  }
}

.programs__link:hover::after,
.programs__link:focus::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  width: 32px;
}

.programs__link:active::after {
  opacity: 0.3;
}
