.program-selection {
  background-color: $basicgreen;
  font-family: $fontfamily;
  text-align: center;
  color: $white;
}

.program-selection__title {
  padding-top: 27px;
  @include title;
}

.program-selection__description {
  line-height: 14px;
  text-transform: $uppercase;
}

@media (min-width: $tablet-width) {
  .program-selection {
    background-color: $white;
  }

  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    color: $black;

  }

  .program-selection__description {
    color: $black;
  }
}
