//colors
$greydark: #444444;
$greylight: #e4e4e4;
$grey: #f2f2f2;
$greyone: #eaeaea;
$greylightone: #d9d9d9;
$greylighttwo: #cdcdcd;
$greylightthree: #dcdcdc;
$white: #ffffff;
$black: #000000;
$blackone: #111111;
$blacktwo: #222222;
$basicgreen: #68B738;
$basicgreenhover: #5eaa2f;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//text
$uppercase: uppercase;
