.contacts__title {
    font-size: 16px;
    color: #111111;
    text-transform: uppercase;
}

.contacts__adress {
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}