.example {
    background-color: #eaeaea;
    padding-left: 20px;
}
.example__title {
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}
.example__description {
    font-family: Arial, Helvetica, sans-serif;
}

.example_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.example_list b {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}
.example_list span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
}
.example__result {
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}
.example span {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}