.scheme-work {
    margin-top: 27px;
    padding-left: 20px;
}
.scheme-work__title {
    color: #000000;
    font-size: 36px;
    line-height: 40px;
}
.scheme-work__list {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}