// Начните писать стили здесь
:root {
    --basic-grey-dark: #444444;
    --basic-white: #ffffff;
    --basic-black: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    background-color: var(--basic-white);
    color: var(--basic-grey-dark);
}

@import "program-selection.scss";
@import "button.scss";
@import "programs.scss";
@import "scheme-work.scss";
@import "example.scss";
@import "contacts.scss";
/*Catalog*/
.page-main__title {
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}
@import "catalog.scss";
@import "additional-goods.scss";

.gift {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 20px;
    background-image: url(../img/gift-photo-mobile@1x.jpg);
    background-repeat: no-repeat;
    width: 280px;
    height: 289px;
    text-align: center;
}